/**
 * Widget
 */
.field--widget-web-page-element-w .field--widget-web-page-element-w__tools {
    display: flex;
    align-items: center;
    margin: 0;
}

.field--widget-web-page-element-w .field--widget-web-page-element-w__title,
.field--widget-web-page-element-w .field--widget-web-page-element-w__title-removed {
    flex-grow: 1;
    display: block;
}

.field--widget-web-page-element-w .field--widget-web-page-element-w__edit {
    margin-right: 0;
}
         
.field--widget-web-page-element-w .field--widget-web-page-element-w__remove {
    margin-right: 0;
    cursor: pointer;
}

.field--widget-web-page-element-w .field--widget-web-page-element-w__data {
    display: none;
}

.field--widget-web-page-element-w .field--widget-web-page-element-w__is-removed {
    display: none;
}

/* Not removed state */
.field--widget-web-page-element-w .field--widget-web-page-element-w__title-removed,
.field--widget-web-page-element-w .field--widget-web-page-element-w__restore {
    display: none;
}

/* Removed state */
.field--widget-web-page-element-w .field--widget-web-page-element-w__is-removed:checked ~ .field--widget-web-page-element-w__tools * {
    display: none;
}

.field--widget-web-page-element-w .field--widget-web-page-element-w__is-removed:checked ~ .field--widget-web-page-element-w__tools .field--widget-web-page-element-w__title-removed,
.field--widget-web-page-element-w .field--widget-web-page-element-w__is-removed:checked ~ .field--widget-web-page-element-w__tools .field--widget-web-page-element-w__restore {
    display: block;
}

/**
 * Form
 */
.ui-dialog--web-page-element-f {
    width: calc(100% - 4rem) !important;
    max-width: 50rem !important;
    max-height: calc(100% - 12rem) !important;
    top: 10rem !important;
    display: flex;
    flex-direction: column;
}

.ui-dialog--web-page-element-f > .ui-dialog-content {
    height: auto !important;
    max-height: none !important;
    flex-grow: 1;
}

.ui-dialog--web-page-element-f > .ui-dialog-content::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #000000;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

.ui-dialog--web-page-element-f > #drupal-modal-background::after {
    opacity: 0.35;
}

.ui-dialog--web-page-element-f > .ui-dialog-buttonpane > .form-actions > .form-submit {
    margin-left: auto;
    display: block;
}

.ui-dialog--web-page-element-f .web-page-element-f__array {
    margin-top: 2em;
}
    .ui-dialog--web-page-element-f .web-page-element-f__array__tools {
        background-color: transparent !important;
        font-size: 1em;
        border: 0;
    }

    .ui-dialog--web-page-element-f .web-page-element-f__array__tools td {
        padding-left: 0;
        border: 0;
    }

    .ui-dialog--web-page-element-f .web-page-element-f__array__tools td .button {
        font-size: 1em;
    }

    .ui-dialog--web-page-element-f .web-page-element-f__array__item__remove {
        width: 100px;
    }

.ui-dialog--web-page-element-f .tabledrag-toggle-weight-wrapper {
    display: none;
}

.ui-dialog--web-page-element-f__apply {
    float: right;
    margin-right: 0;
}
